html {
    font-size: 8px;
}

body {
    background-color: azure;
}

.slideshow {
    width: 104%;
    height: 800px;
    position: relative;
    top:87px;
    right:0% ;
    overflow: hidden;
}

.slideshow-item {
    width: inherit;
    height: inherit;
    position: absolute;
    opacity: 0;
    animation: cycleImages 31s infinite;
}

.slideshow-item img {
    width: 100%;
    height: 100%;
    /*object-fit: cover;*/
    animation: zoom 31s infinite;
    bottom: 100px;
    background-size: cover;
}


/*nth-child coincide con uno o más elementos en función de su posición entre un grupo de hermanos.*/

.slideshow-item:nth-child(1),
.slideshow-item:nth-child(1) img {
    animation-delay: 0s;
}

.slideshow-item:nth-child(2),
.slideshow-item:nth-child(2) img {
    animation-delay: 10s;
}

.slideshow-item:nth-child(3),
.slideshow-item:nth-child(3) img {
    animation-delay: 20s;
}

.slideshow-item:nth-child(4),
.slideshow-item:nth-child(4) img {
    animation-delay: 30s;
}

.slideshow-item:nth-child(5),
.slideshow-item:nth-child(5) img {
    animation-delay: 40s;
}

.slideshow-item:nth-child(6),
.slideshow-item:nth-child(6) img {
    animation-delay: 50s;
}

.slideshow-item:nth-child(7),
.slideshow-item:nth-child(7) img {
    animation-delay: 60s;
}

.slideshow-item:nth-child(8),
.slideshow-item:nth-child(8) img {
    animation-delay: 70s;
}

.slideshow-item:nth-child(9),
.slideshow-item:nth-child(9) img {
    animation-delay: 80s;
}

.slideshow-item-text {
    max-width: 50%;
    position: absolute;
    top: 85%;
    left: 0;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.164);
    color: #fff;
    padding: 1rem 10rem;
}

.slideshow-item-text h5 {
    font-size: 5rem;
    font-family: sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 2.5rem;
}

.slideshow-item-text p {
    font-size: 2.7rem;
    font-family: sans-serif;
    letter-spacing: 1px;
    font-weight: 300;
}


/*fotograma describe cómo se muestra cada elemento animado en un momento dado durante la secuencia de la animación.*/

@keyframes cycleImages {
    25% {
        opacity: 1;
    }
    40% {
        opacity: 0;
    }
}

@keyframes zoom {
    100% {
        transform: scale(1.3);
    }
}

@media screen and (max-width: 1000px) {
    .slideshow-item-text {
        max-width: 70%;
        padding: 5rem 1rem;
    }
    .slideshow-item-text h5 {
        font-size: 4rem;
    }
}

@media screen and (max-width: 767px) {
    .slideshow-item-text {
        max-width: 100%;
        padding: 2rem;
        top: initial;
        bottom: 0;
        transform: initial;
    }
    .slideshow-item-text h5 {
        font-size: 3rem;
    }
    .slideshow-item-text p {
        font-size: 1.4rem;
    }
}