*
{
    box-sizing: border-box;
}
body
{
    margin: 0;
}
/*Propiedades del icono de menu*/
.nav-bar
{ 
    position: fixed;  
    background: rgb(0, 0, 0);
    padding: 50px;
    display: block;
    color: white;
    cursor: pointer;
    font-size: 1.5em;
    width: 100%;
    text-align: right;
}
.menu, .submenu
{    
    list-style: none;
    padding: 0;
    margin: 0;
}
.menu
{
    background: rgb(0, 0, 0);
    width: 100%;
    margin-left: -100%;
    transition: all 0.5s;
    
}
.nav_logo
{
    position: relative;
    top: 0px;
    left: 0px;
    background: rgb(0, 0, 0);
    padding: 0px ;      
}
.menu__link
{
    display: block;
    padding: 22px;
    color: white;
    font-size: 1.2em;
    text-decoration: none;
    
}
.submenu
{
    height: 0;
    overflow: hidden;
    transition: 0.3s;
}
.submenu .menu__link
{
    background: #333;
    padding-left:50px ;
}
.mostrar
{
    margin-left: 0;
}



@media(min-width:1024px)
{
    .nav-bar
    {
        display: none;
    }
    .menu
    {
        margin-left: 0;
        display: flex;
    }
    .container-submenu
    {
        position: relative;
    }
   
    .menu__link:hover
    {
        background: #444;
    }
    .submenu .menu__link:hover
    {
        background: #444;
    }
    .submenu
    {
        position: absolute;
        top:60px;
        width: 200px;
        overflow: visible;
        z-index: 1000;
        opacity: 0;
        visibility: hidden;        
    }
    .container-submenu:hover .submenu
    {
        opacity: 1;
        visibility: visible;
    }

}
@media(max-width:104px)
{
    .nav-bar
    {
        display: none;
    }
    .menu
    {
        margin-left: 0;
        display: flex;
    }
    .container-submenu
    {
        position: relative;
    }
    .nav_logo
    {
        position: absolute;
    top: 0px;
    left: 0px;
    background: rgb(0, 0, 0);
    padding: 0px ;      
}
    .menu__link:hover
    {
        background: #444;
    }
    .submenu .menu__link:hover
    {
        background: #444;
    }
    .submenu
    {
        position: absolute;
        top:60px;
        width: 200px;
        overflow: visible;
        z-index: 1000;
        opacity: 0;
        visibility: hidden;        
    }
    .container-submenu:hover .submenu
    {
        opacity: 1;
        visibility: visible;
    }

}